<!-- NAVBAR -->
	<header class="navbar navbar-fixed-top navbar-default">
		<div class="container">
			<%= link_to "mySurveyApp", "", class: "btn btn-lg btn-success", id: "logo" %>
			<div class="nav_item">
				<%= link_to "New app", "", class: "btn btn-lg btn-warning" %> 
			</div>
			<div class="nav_item">
				<%= link_to "View my apps", "", class: "btn btn-lg btn-warning" %> 
			</div>
			<div class="nav_item">
				<%= link_to "Publish", "", class: "btn btn-lg btn-warning" %> 
			</div>
		</div>
	</header>
